/*****
 * Theme       : crus
 * Author      : supercell
 * Last Update : 2020-09-20 (YYYY-MM-DD)
 * Music       : Heavenz - Systemind Paradox (artist - album)
 * Comments    : This place is a secret. Prism Girl.
***********/
body {
  background-color:#fafafa;
  color:#111111;
  font-family:sans-serif;
  margin:0;
}

header {
  background-color:#ffffff;
  border-bottom:1px solid #dddddd;
  padding: 8px;
}

header h1 {
  display:inline-block;
  font-weight:400;
  margin:0;
}

header form,
header nav {
  display:inline-block;
}

main {
  border-bottom:1px solid #000;
  padding:1rem;
}

main,
footer {
  margin:0 auto;
  text-align:left;
  width:60%;
}

footer {
  padding: 0px 1rem;
}

nav ul {
  display:inline-block;
  padding:0;
  margin:0;
}

nav ul li {
  display:inline-block;
}

nav ul li:not(:first-child) {
  padding-left:6px;
}

a {
  color:#0074d9;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

.item-grid {
  display:flex;
  flex-flow: row wrap;
}

.grid-item {
  background-color:#eee;
  border-radius:4px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  padding:1rem;
  word-break:break-word;
  width:200px;
  margin:8px;
}

.thumbnail {
  display:block;
  margin: 0 auto;
  max-width:100%;
}

.hero {
  display:flex;
  align-items:flex-start;
}

.hero-content {
  padding-left:1rem;
}

.hero-content h2 {
  margin:0px;
}

@media only screen and (max-width: 480px) {
  main,
  footer {
    width:98%;
  }
  .grid-item {
    flex:one;
    margin-left:0;
    width:100%;
  }
  .hero {
    display:initial;
  }
  .hero-content {
    padding-left:0px;
  }
}
