<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse <%= data[:type] %></title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <header>
      <h1>crus</h1>
      <form method="GET" action="/search" id="search_form">
        <select name="type" form="search_form" required="required">
          <% if data[:type] == "manga" %>
            <option value="anime">Anime</option>
            <option value="manga" selected="selected">Manga</option>
          <% else %>
            <option value="anime">Anime</option>
            <option value="manga">Manga</option>
          <% end %>
        </select>
        <input type="search" name="q" placeholder="Query..." required="required" value="<%= data[:q] %>">
        <input type="submit" value="Search">
      </form>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/anime?page=0">Anime</a></li>
          <li><a href="/manga?page=0">Manga</a></li>
          <%# TODO: profile (and categories?) %>
        </ul>
      </nav>
    </header>
    <main>
      <%# filter form %>
      <form method="GET" action="/<%= data[:type] %>" id="filter_form">
      <%# needed for the first page (page 0) %>
      <input type="hidden" name="page" value="0">

      <%# anime filters %>

      <% if data[:type] == "anime" %>
        <label for="year">Season Year: </label>
        <input type="number" name="filter[seasonYear]" value="<%= data[:filter_year] %>"
          min="1868" max="<%= data[:current_year] + 1 %>" id="year">
        <label for="age_rating">Age Rating: </label>
        <select name="filter[ageRating]" form="filter_form" id="age_rating">
          <% for rating in ["All", "G", "PG", "R", "R18"] %>
            <% if data[:age_rating] == rating %>
              <option value="<%= rating %>" selected="selected"><%= rating %></option>
            <% else %>
              <option value="<%= rating %>"><%= rating %></option>
            <% end %>
          <% end %>
        </select>
        <label for="season">Season: </label>
        <select name="filter[season]" form="filter_form" id="season">
          <%# kitsu api uses 'Fall' instead of 'Autumn' %>
          <% for season in ["All", "Winter", "Spring", "Summer", "Fall"] %>
            <% if data[:season] == season.downcase %>
              <option value="<%= season.downcase %>" selected="selected"><%= season %></option>
            <% else %>
              <option value="<%= season.downcase %>"><%= season %></option>
            <% end %>
          <% end %>
        </select>
        <label for="type">Types: </label>
        <select name="filter[subtype]" form="filter_form" id="type" multiple>
          <% for type in ["TV", "Special", "ONA", "OVA", "Movie", "Music"] %>
            <% if data[:subtypes].include?(type.downcase) %>
              <option value="<%= type.downcase %>" selected><%= type %></option>
            <% else %>
              <option value="<%= type.downcase %>"><%= type %></option>
            <% end %>
          <% end %>
        </select>
      <% end %>

      <%# manga filters %>
      <% if data[:type] == "manga" %>
        <label for="year">Release Year: </label>
        <input type="number" name="filter[year]" value="<%= data[:filter_year] %>"
          min="1868" max="<%= data[:current_year] + 1 %>" id="year">
        <label for="type">Types: </label>
        <select name="filter[subtype]" form="filter_form" id="type" multiple>
          <% for type in ["Manga", "Novel", "Manhua", "Oneshot", "Doujin", "Manhwa", "OEL"] %>
            <% if data[:subtypes].include?(type.downcase) %>
              <option value="<%= type.downcase %>" selected><%= type %></option>
            <% else %>
              <option value="<%= type.downcase %>"><%= type %></option>
            <% end %>
          <% end %>
        </select>
      <% end %>

      <%# end of filters %>
      <input type="submit" value="Refine">
      </form>

      <div class="item-grid">
        <% for item in data[:json]['data'] %>
          <div class="grid-item">
            <img alt="<%= item['attributes']['canonicalTitle'] %>"
              src="<%= item['attributes']['posterImage']['tiny'] %>"
              height="156" width="110" loading="lazy" class="thumbnail">
            <p>
              <a href="/<%= data[:type] %>/<%= item['id'] %>"><%= item['attributes']['canonicalTitle'] %></a>
            </p>
          </div>
        <% end %>
      </div>
      <% if data[:page] > 0 %>
        <a href="/<%= data[:type] %>/?page=0&<%= data[:pageless_queries] %>">First</a>
        <a href="/<%= data[:type] %>/?page=<%= data[:page] - 1 %>&<%= data[:pageless_queries] %>">Previous</a>
      <% end %>

      <% if data[:has_next] %>
        <a href="/<%= data[:type] %>/?page=<%= data[:page] + 1 %>&<%= data[:pageless_queries] %>">Next</a>
      <% end %>

      <% if data[:has_last] %>
        <a href="/<%= data[:type] %>/?page=<%= data[:last_page] %>&<%= data[:pageless_queries] %>">Last</a>
      <% end %>
    </main>
    <footer>
      <p>
        crus - alternative front-end for kitsu.io.
        <a href="https://codeberg.org/supercell/crus" title="git repository">source code</a>.
      </p>
    </footer>
  </body>
</html>
