<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - crus</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <header>
      <h1>crus</h1>
      <form method="GET" action="/search" id="search_form">
        <select name="type" form="search_form" required>
          <option value="anime">Anime</option>
          <option value="manga">Manga</option>
        </select>
        <input type="search" name="q" placeholder="Query..." required>
        <input type="submit" value="Search">
      </form>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/anime">Anime</a></li>
          <li><a href="/manga">Manga</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>An error occurred</h2>
      <p>
        HTTP status code: <%= data[:status] %><br>
        Message: <%= data[:msg] %>
      </p>
    </main>
    <footer>
      <p>
        crus - alternative front-end for kitsu.io.
        <a href="https://codeberg.org/supercell/crus" title="git repository">source code</a>.
      </p>
    </footer>
  </body>
</html>
