<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crus</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <header>
      <h1>crus</h1>
      <form method="GET" action="/search" id="search_form">
        <select name="type" form="search_form" required="required">
          <option value="anime">Anime</option>
          <option value="manga">Manga</option>
        </select>
        <input type="search" name="q" placeholder="Query..." required="required">
        <input type="submit" value="Search">
      </form>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/anime?page=0">Anime</a></li>
          <li><a href="/manga?page=0">Manga</a></li>
          <%# TODO: profile (and categories?) %>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Trending Anime</h2>
      <div class="item-grid">
        <% for anime in data[:anime]['data'] %>
          <div class="grid-item">
            <img alt="<%= anime['attributes']['canonicalTitle'] %>"
              src="<%= anime['attributes']['posterImage']['tiny'] %>"
              height="156" width="110" loading="lazy" class="thumbnail">
            <p>
              <a href="/anime/<%= anime['id'] %>"><%= anime['attributes']['canonicalTitle'] %></a>
            </p>
          </div>
        <% end %>
      </div>
      <h2>Trending Manga</h2>
      <div class="item-grid">
        <% for manga in data[:manga]['data'] %>
          <div class="grid-item">
            <img alt="<%= manga['attributes']['canonicalTitle'] %>"
              src="<%= manga['attributes']['posterImage']['tiny'] %>"
              height="156" width="110" loading="lazy" class="thumbnail">
            <p>
              <a href="/manga/<%= manga['id'] %>"><%= manga['attributes']['canonicalTitle'] %></a>
            </p>
          </div>
        <% end %>
      </div>
    </main>
    <footer>
      <p>
        Crus - Alternative front-end for Kitsu.
        <a href="https://codeberg.org/supercell/crus" title="git repository">Source code</a>.
      </p>
    </footer>
  </body>
</html>
