<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= data[:title] %> - crus</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <header>
      <h1>crus</h1>
      <form method="GET" action="/search" id="search_form">
        <select name="type" form="search_form" required>
          <option value="anime">Anime</option>
          <option value="manga">Manga</option>
        </select>
        <input type="search" name="q" placeholder="Query..." required>
        <input type="submit" value="Search">
      </form>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/anime">Anime</a></li>
          <li><a href="/manga">Manga</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="hero">
        <div class="hero-image">
          <img alt="<%= data[:title] %>" height="402" width="284"
            src="<%= data[:attributes]['posterImage']['small']%>">
        </div>
        <div class="hero-content">
          <h2><%= data[:title] %></h2>
          <%# I would like to have the studio here, but it requires another request it seems %>
          <p>
            Average rating: <%= data[:attributes]['averageRating'] %>/100.
            <% if data[:type] == "anime" %>
              <% if data[:attributes]['status'] == "current" %>
                Currently airing: <%= data[:attributes]['startDate'] %> &mdash; ???
              <% else %>
                Aired: <%= data[:attributes]['startDate'] %> &mdash; <%= data[:attributes]['endDate'] %>.
              <% end %>
            <% else %>
              <%if data[:attributes]['status'] == "current" %>
                Currently publishing: <%= data[:attributes]['startDate'] %> &mdash; ???
              <% else %>
                Published: <%= data[:attributes]['startDate'] %> &mdash; <%= data[:attributes]['endDate'] %>.
              <% end %>
            <% end %>
          </p>
          <p>
            <%= data[:attributes]['description'] %>
          </p>
        </div>
      </section>
    </main>
    <footer>
      <p>
        crus - alternative front-end for kitsu.io.
        <a href="https://codeberg.org/supercell/crus" title="git repository">source code</a>.
      </p>
    </footer>
  </body>
</html>
