<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= data[:title] %></title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <header>
      <h1>crus</h1>
      <form method="GET" action="/search" id="search_form">
        <select name="type" form="search_form" required="required">
          <% if data[:type] == "manga" %>
            <option value="anime">Anime</option>
            <option value="manga" selected="selected">Manga</option>
          <% else %>
            <option value="anime">Anime</option>
            <option value="manga">Manga</option>
          <% end %>
        </select>
        <input type="search" name="q" placeholder="Query..." required="required" value="<%= data[:q] %>">
        <input type="submit" value="Search">
      </form>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/anime?page=0">Anime</a></li>
          <li><a href="/manga?page=0">Manga</a></li>
          <%# TODO: profile (and categories?) %>
        </ul>
      </nav>
    </header>
    <main>
      <p>
        Showing <%= data[:results_num] %> results for <%= data[:q] %>:
      </p>
      <div class="item-grid">
        <% for result in data[:json]['data'] %>
          <div class="grid-item">
            <img alt="<%= result['attributes']['canonicalTitle'] %>"
              src="<%= result['attributes']['posterImage']['tiny'] %>"
              height="156" width="110" loading="lazy" class="thumbnail">
            <p>
              <a href="/<%= data[:type] %>/<%= result['id'] %>"><%= result['attributes']['canonicalTitle'] %></a>
            </p>
          </div>
        <% end %>
      </div>
      <% if data[:page_offset] > 0 %>
        <a href="/search?type=<%= data[:type] %>&q=<%= data[:q] %>&page=0">First</a>
        <a href="/search?type=<%= data[:type] %>&q=<%= data[:q] %>&page=<%= data[:page_offset] - 1 %>">Previous</a>
      <% end %>
      <% if data[:has_next] %>
        <a href="/search?type=<%= data[:type] %>&q=<%= data[:q] %>&page=<%= data[:page_offset] + 1 %>">Next</a>
      <% end %>
      <% if data[:has_last] %>
        <a href="/search?type=<%= data[:type] %>&q=<%= data[:q] %>&page=<%= data[:last_page] %>">Last</a>
      <% end %>
    </main>
    <footer>
      <p>
        crus - alternative front-end for kitsu.io.
        <a href="https://codeberg.org/supercell/crus" title="git repository">source code</a>.
      </p>
    </footer>
  </body>
</html>
